<div class="container info">
  <div class="row">
    
    <div class="col-md-12 border-right">
      <h3 class="text-center"><i>В общем</i></h3>
      <p>
          Этот сайт - очередная реализация популярной нынче идеи
          поиска попутчиков для совместных поездок по городу. Всё, что вам нужно сделать,
          если вы хотите подвезти соседа или подвезтись сами - это заполнить форму и нажать
          кнопку. Вероятно, кто-нибудь увидит ваше объявление и свяжется с вами.
          Когда объявление перестанет быть актуальным, вы сможете удалить его, нажав на красный крестик
          слева. Сервис маленький, уютный, домашний - создан специально для "Цветов", так что
          место отправления для всех объявлений предполагается одно и то же - "Цветы".
      </p>
      <p>Теперь пара слов о том, кому и чем это может быть полезно.</p>
    </div>
    
    <div class="col-md-6 border-right">
      <h3 class="text-center"><i>Для водителей</i></h3>
      <ol>
        <li>Немного заработать на бензин</li>
        <li>Развеять скуку в пути</li>
        <li>Лучше узнать соседей - вокруг же полно интересных людей!</li>
        <li>Сделать доброе дело</li>
      </ol>
    </div>

    <div class="col-md-6">
      <h3 class="text-center"><i>Для пассажиров</i></h3>
      <ol>
        <li>Удобней автобуса, дешевле такси</li>
        <li>Оставьте машину дома - не надо будет парковаться</li>
        <li>И пробок станет меньше, и воздух чище</li>
        <li>Ну и конечно см. п.п. 2, 3 из списка слева)</li>
      </ol>
    </div>
  </div>
</div>
