<div class="container">
  <div class="row">
    <div class="col-md-12 border-right text-center">
      <p>Если у вас есть вопросы или пожелания по работе сервиса, или вам просто скучно - 
        пожалуйста, не стесняйтесь писать мне <a href="mailto:secventor@yandex.ru">письма</a>. Даже если
      вам нечего сказать - пришлите открытку, мне будет очень приятно. Спасибо!
    </div>
  </div>
</div>
