<div class="modal-header">
  <h3 class="modal-title">Хотите удалить объявление?</h3>
</div>
<div class="modal-body">
  <p>Введите кодовое слово, которое вы указали при создании объявления:</p>
  <div class="form-group" ng-class="{'has-error':wrongSecret}">
    <input type="text" id="secret" class="form-control" ng-model="secret" required />
    <label class="control-label" for="secret" ng-show="wrongSecret">Хм, нет, кодовое слово было не такое...</label>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-danger" ng-click="ok()">Удалить</button>
  <button class="btn btn-default" ng-click="cancel()">Отмена</button>
</div>
