  <div class="row">
    <div class="col-md-6">
      <div class="header-block">
        <h1>Могу подвезти</h1>
      </div>
      <div class="outer-border">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="col-md-1">#</th>
              <th class="col-md-2">Куда</th>
              <th class="col-md-2">Когда</th>
              <th class="col-md-1">Сколько мест</th>
              <th class="col-md-1">Цена</th>
              <th class="col-md-2">Контакты</th>
              <th class="col-md-3">Дополнительно</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="trip in tripsTaxi" ng-mouseenter="showDelete = true" ng-mouseleave="showDelete = false">
              <td>
                <span ng-show="!showDelete" class="number">{{$index + 1}}</span>
                <span ng-show="showDelete" class="delete-button" ng-click="deleteTrip(trip._id, $index, trip.type)" title="Удалить">
                  <i class="glyphicon glyphicon-remove"></i>
                </span>
              </td>
              <td>{{trip.where}}</td>
              <td>{{trip.when}}</td>
              <td>{{trip.places}}</td>
              <td>{{trip.cost}}</td>
              <td>{{trip.contacts}}</td>
              <td>{{trip.info}}</td>
            </tr>
          </tbody>
        </table>
        <div class="button-container">
          <a class="btn btn-primary btn-lg" href="/posttaxi">Я тоже хочу подвезти соседей</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="header-block">
        <h1>Хочу поехать</h1>
      </div>
      <div class="outer-border">
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="col-md-1">#</th>
              <th class="col-md-2">Куда</th>
              <th class="col-md-2">Когда</th>
              <th class="col-md-1">Сколько нас</th>
              <th class="col-md-1">Цена</th>
              <th class="col-md-2">Контакты</th>
              <th class="col-md-3">Дополнительно</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="trip in tripsPassengers" ng-mouseenter="showDelete = true" ng-mouseleave="showDelete = false">
              <td>
                <span ng-show="!showDelete" class="number">{{$index + 1}}</span>
                <span ng-show="showDelete" class="delete-button" ng-click="deleteTrip(trip._id, $index, trip.type)" title="Удалить">
                  <i class="glyphicon glyphicon-remove"></i>
                </span>
              </td>
              <td>{{trip.where}}</td>
              <td>{{trip.when}}</td>
              <td>{{trip.places}}</td>
              <td>{{trip.cost}}</td>
              <td>{{trip.contacts}}</td>
              <td>{{trip.info}}</td>
            </tr>
          </tbody>
        </table>
        <div class="button-container">
          <a class="btn btn-primary btn-lg" href="/postpassenger">Подвезите и меня</a>
        </div>
      </div>
    </div>
  </div>
