<div class="container">

  <h3 class="text-center"><i>{{title}}</i></h3>

  <form class="form-horizontal" ng-submit="go()" name="passenger" novalidate>

    <div class="form-group">

      <label for="where" class="col-sm-2 control-label">Куда *</label>
      <div class="col-sm-4">
        <input type="text" id="where" class="form-control" placeholder="пл. Горького" ng-model="form.where" required />
      </div>

      <label for="places" class="col-sm-2 control-label">{{howMuch}} *</label>
      <div class="col-sm-2">
        <input type="text" id="places" class="form-control" placeholder="2" ng-model="form.places" ng-pattern="/^[0-9]+$/" required />
      </div>
    </div>

    <div class="form-group">

      <label for="when" class="col-sm-2 control-label">Когда *</label>
      <div class="col-sm-4">
        <input type="text" id="when" class="form-control" placeholder="12 Марта, 08:30" ng-model="form.when" ng-required />
      </div>

      <label for="cost" class="col-sm-2 control-label">{{willPay}}</label>
      <div class="col-sm-2">
        <div class="input-group">
          <input type="text" id="cost" class="form-control" placeholder="20" ng-model="form.cost" ng-pattern="/^[0-9]+$/" />
          <div class="input-group-addon">р/чел</div>
        </div>
      </div>
    </div>

    <div class="form-group">

      <label for="contacts" class="col-sm-2 control-label">Контакты *</label>
      <div class="col-sm-4">
        <input type="text" id="contacts" class="form-control" placeholder="телефон, скайп, что угодно" ng-model="form.contacts" required />
      </div>

      <label for="secret" class="col-sm-2 control-label">Кодовое слово *</label>
      <div class="col-sm-2">
        <input type="text" id="secret" class="form-control" placeholder="12345" ng-model="form.secret" required />
      </div>
      <i>потребуется для удаления объявления</i>

    </div>
    
    <div class="form-group">

      <label for="info" class="col-sm-2 control-label">Дополнительно</label>
      <div class="col-sm-8">
        <textarea type="text" id="info" class="form-control" placeholder="{{info}}" ng-model="form.info"></textarea>
      </div>
    </div>

    <div class="form-group">

      <div class="col-sm-12 text-center">
        <button type="submit" class="btn btn-primary" ng-disabled="passenger.$invalid">Опубликовать объявление</button>
      </div>
    </div>
  </form>
</div>
