@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700&subset=latin,cyrillic&minify=true);

body {
  font-family: 'Roboto Slab', serif;
  background: #26bfae;
  color: #213228;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
}

.btn {
  border: none}

.logo {
  margin: 0 auto 5px;
  display: block;
  padding-top: 20px;
  max-width: 300px;
}

.logo img {
  display: inline-block;
  max-width: 100%;
}

.main-area {
  padding: 0;
  margin: 0;
  background: url(../images/bg.jpg) no-repeat center top #f5efd4}

.logo-fishki {
  margin: 0 auto 20px;
  text-align: center}

.logo-fishki h1 {
  font-size: 4.5em;
  margin: 0;
  letter-spacing: -2px}

.logo-fishki h3 {
  font-weight: 400;
  margin: 0;
  letter-spacing: -1px;
  color: #00b9a5}

.content-area {
  padding: 10px;
  background: #fff}

.outer-border {
  padding: 30px 10px 0;
  margin-top: -45px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd}

.button-container {
  text-align: center;
  margin-bottom: 15px;}

.header-block {
  text-align: center;
  margin-bottom: 15px}

.header-block h1 {
  background: #fff;
  color: #666;
  display: inline-block;
  padding: 0 10px;
  margin-top: 5px;
  margin-bottom: 15px;}

.number {
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
  font-weight: 700;
  background: #01b5a1
}

.delete-button {
  display: block;
  text-align: center;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  font-size: 12px;
  line-height: 22px;
  color: #fff;
  font-weight: 700;
  background: #c9302c;
  cursor: pointer;
}

.footer {
  padding: 20px;
  border-top: 10px solid #01b5a1;
  text-align: center
}

.footer a {
  color: #fff;
  line-height: 1.7em;
  text-decoration: none;
}

.info p {
  text-indent: 4em;
  text-align: justify;
}

textarea {
  resize: vertical;
}

.mail {
  width: 200px;
  height: 20px;
  display: inline-block;
  background:  url(../images/mail.png)
}